# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt
*.csproj
*.sln
*.user
*.unityproj
/Assets/AddressableAssetsData/link.xml*

# Platform
*.apk
*.aab
*.ipa
*.xcworkspace/
*.xcuserdatad/
*.xcuserdata/
DerivedData/

# IDEs
.vs/
.vscode/
.idea/

# Crash/Profiler
*.dmp
*.diag
*.heap
*.map

# OS
.DS_Store
Thumbs.db

# Bezi AI plugin
/Packages/com.bezi.sidekick/